html {
  font-family: Overpass, sans-serif;
  color: #fff;
}

section {
  background-image: linear-gradient(to top, #ff5e3a, #ff9500);
}

li:first-child,
li:nth-child(2) {
  border-right: none;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.btn-ghost {
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  padding: .5em;
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
}

@media only screen and (min-width: 60em) {

  li:first-child,
  li:nth-child(2) {
    border-right: 2px solid rgba(255, 255, 255, 1);
    border-bottom: none;
  }

}
